* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
    padding: 0 30px;
}
h1 {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* modal styles */
.modal {
    opacity: 0;
    z-index: -1;
}
.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,.5)
}
.modal-window {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
   
}
.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.modal-title {
    margin-bottom: 20px;
}
.modal-close {
    cursor: pointer;
}
.modal p {
    font-size: 14px;
    margin-bottom: 10px;
}
.modal button {
    cursor: pointer;
}